<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Layouts</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div class="wrapper">
			<div class="header">
				<h1>Header</h1>
				<h2>Subtitle</h2>
			</div>
			<ul class="navbar">
				<li><a href="">Home</a></li>
				<li><a href="">About Us</a></li>
				<li><a href="">Contact Us</a></li>
				<li><a href="">Videos</a></li>
				<li><a href="">Pricing</a></li>
				<li><a href="">Something</a></li>
				<li><a href="">Something more...</a></li>
				<li><a href="">Something even more...</a></li>
			</ul>
			<div class="column four-s three-l">
				<div class="content">
					<h3>Coffee Ipsum</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae urna porttitor, congue magna sit amet, laoreet justo. Integer sit amet elit sed dolor consequat egestas. Donec suscipit elit sed risus rutrum gravida. Curabitur massa nulla, auctor vitae quam quis, finibus congue nunc. Ut id odio euismod, cursus lacus vel, mattis augue. </p>
				</div>
			</div>
			<div class="column four-s three-l">
				<div class="content">
					<h3>Lorem Ipsum</h3>
					<p>Nunc dignissim tortor nibh, quis viverra ligula iaculis lobortis. Quisque pharetra odio massa, lobortis accumsan tortor interdum et. Aliquam mollis enim molestie, ultrices ex a, fringilla leo. Suspendisse neque lectus, ornare in libero hendrerit, lacinia volutpat leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi dignissim ac justo in rhoncus. Mauris quis pharetra felis. Cras non massa sed odio suscipit suscipit nec in orci. Aliquam erat volutpat. </p>
				</div>
			</div>
			<div class="column four-s three-l">
				<div class="content">
					<h3>Baby Ipsum</h3>
					<p>Curabitur fermentum ultricies iaculis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin ultricies diam vel pharetra posuere. Maecenas nisl nisi, venenatis at egestas in, lobortis id nunc. Curabitur iaculis a nulla id dapibus. In facilisis sagittis arcu, quis egestas urna hendrerit at. Nullam vel pellentesque felis. Nullam odio orci, tincidunt ac egestas porta, aliquet eleifend ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer auctor lacus risus, ac vehicula ligula lacinia a. Morbi lorem sapien, convallis ut quam in, efficitur luctus libero. Maecenas suscipit sagittis nibh, ac pulvinar erat ultricies at. Phasellus fermentum lectus eros, quis dignissim tellus molestie id. Sed id purus eget metus lobortis aliquet non eu nisl. Vestibulum aliquet id justo sed malesuada. Sed elit odio, commodo at nibh blandit, iaculis fermentum mi.</p>
				</div>
			</div>
			<div class="column twelve-s three-l">
				<div class="content">
					<h3>Zombie Ipsum</h3>
					<p>Praesent consequat placerat enim quis bibendum. Curabitur et auctor quam. Donec vel erat tellus. In ipsum tellus, viverra quis consectetur et, bibendum quis est. Curabitur mollis urna est, a tincidunt augue pulvinar vel. Proin nisi sapien, sodales id nisl eget, imperdiet scelerisque lectus. Sed at lacus quis felis pharetra tincidunt ut sit amet risus. Praesent ornare nisl at turpis aliquet varius. Praesent facilisis, nibh id dapibus condimentum, nunc mauris consectetur urna, vel varius mi purus sit amet odio. Maecenas congue accumsan venenatis. Integer et neque neque.</p>
				</div>
			</div>
		</div>
	</body>
</html>